.navbar-container {
  max-width: 100%;
  padding: 0px 15px;
  background: white;
}

.navbar-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-image img {
  width: 100px;
  height: 86px;
}

.navbar ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(0, 0, 0, 0.5);
}

.navbar ul li a img {
  width: 21px;
  height: 19px;
}
li.navbar-list {
  /* padding: 15px 15px; */
  position: relative;
}

li.navbar-list a {
  padding: 15px 15px;
}

li.navbar-list a span {
  margin-left: 20px;
  font-weight: 600;
  font-size: 14px;
}

nav.navbar {
  margin-top: 20px;
}

.navbar ul li a img:nth-child(3) {
  position: absolute;
  right: 10px;
  height: 10px;
  width: 9.5px;
  opacity: 0.5;
}

.right-width {
  background-color: black;
}

.profile-dropdown li {
  font-size: 12px;
  font-weight: 600;
  color: rgb(0, 0, 0, 0.5);
  padding: 10px 0px;
}

ul.profile-dropdown {
  margin-top: 10px;
  transition: all 0.4s;
}

nav.navbar ul li a.active {
  background: #f1f0fe;
}
