.forgot-password-content h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.forgot-password-content {
    margin-bottom: 30px;
}

.forgot-password-back-btn {
    margin-bottom: 20%;
}

.forgot-password-back-btn a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    position: relative;
}

.forgot-password-back-btn a img {
    width: 8px;
}